{{ define "main" }}
{{ if isset .Params "pano_page_banner" }}
  <section id="panorama">
    <picture>
      {{ partial "_shared/srcset-source.html" (dict "context" . "image_path" .Params.pano_page_banner "media" "(min-width: 600px)" "element" "source")}}
      {{ partial "_shared/srcset-source.html" (dict "context" . "image_path" .Params.standard_page_banner "media" "(max-width: 599px)" "element" "source")}}
      <img src="{{ .Params.pano_page_banner }}">
    </picture>
  </section>
{{end}}
<section id="home" class="panel">
  <div class="container page-gutters">
    <div class="text">
      {{ if .Title }}<h2 class="main-header main-header-xl">{{ .Title }}</h2>{{ end }}
      <div class="text-align-center home-intro body-text">
        <div class="byline text-align-center margin-bottom-lg">
          {{ .Params.intro_text }}
        </div>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<section id="accommodation" class="panel">
  <h2 class="main-header">Accommodation</h2>
  {{ partial "all-accommodation.html" . }}
</section>
{{ end }}
