<a href="{{ .Page.RelPermalink }}" class="accommodation-item-card">
  <div>
    <div >
      {{ $gallery_path := .Page.Params.gallery_path }}
      {{ $static_gallery_path := printf "%s%s" "static" $gallery_path }}
      {{ if fileExists $static_gallery_path }}
        {{ if .Page.Params.cover_image}}
          {{ $image_index := (sub .Page.Params.cover_image 1)}}
          {{ .Scratch.Set "image_index" (sub .Page.Params.cover_image 1) }}
        {{ else }}
          {{ .Scratch.Set "image_index" 0 }}
        {{ end }}
        {{ $image_index := .Scratch.Get "image_index"}}
        {{ $image_file := (index (readDir $static_gallery_path) $image_index) }}
        {{ $image_path := printf "%s%s%s" $gallery_path "/" $image_file.Name }}
        {{ partial "_shared/srcset-source.html" (dict "context" . "image_path" $image_path "sizes" "400px" "data_dimensions" "4:3" "data_object_fit" "cover" "class" "accommodation-card-cover-image object-fit-cover")}}
      {{ end }}
    </div>
    <div class="padding-lg accommodation-card-text">
      <h3 class="accommodation-card-header">{{ .Page.Title }}</h3>
      {{ partial "accommodation-amenities.html" . }}
      <div class="accommodation-card-summary">{{ .Page.Summary }}</div>
    </div>
  </div>
</a>