<a href="{{ .Page.RelPermalink }}" class="accommodation-item-card">
  <div>
    <div >
      <img src="{{ .Page.Params.cover_image }}" class="accommodation-card-cover-image object-fit-cover" alt="{{ .Page.Params.cover_image }}" data-dimensions='4:3' data-object-fit="cover">
    </div>
    <div class="padding-lg accommodation-card-text">
      <h3 class="accommodation-card-header">{{ .Page.Title }}</h3>
      <div class="accommodation-card-summary">{{ .Page.Summary }}</div>
    </div>
  </div>
</a>