{{ $type := .type }}
{{ $type_map := (index .context.Site.Params $type) }}
{{$page_type_section_specific := (index $type_map .context.Section) }}
{{ $page_type_section_specific := cond (.context.Page.IsNode) $page_type_section_specific.list $page_type_section_specific.single }}
{{ $page_type_general := cond (.context.Page.IsNode) $type_map.general.list $type_map.general.single }}
{{ if $page_type_section_specific }}
  {{ .context.Scratch.Set "files" $page_type_section_specific }}
{{ else if $page_type_general }}
  {{ .context.Scratch.Set "files" $page_type_general }}
{{ else }}
  {{ .context.Scratch.Set "files" $type_map.main }}
{{ end }}
{{ range .context.Scratch.Get "files" }}
  {{ $file := . }}
  {{ if (eq   $type "css") }}
    <link rel="stylesheet" href='/css/{{ $file }}' type="text/css" media="screen, projection" />
  {{ else }}
    <script type="text/javascript" src='/js/{{ $file }}'></script>
  {{ end }}
{{ end }}