<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{ .Params.description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}images/site-cover-image.png">
<meta property="og:url" content="{{ .Permalink }}">
<title>{{ .Site.Title }} {{ if .Title }}| {{ .Title }}{{end}}</title>
<link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
