{{ define "main" }}
{{ if isset .Params "maps"}}
<section id="top-bar">
  <div class="google-maps-container-outer width-100">
    <div class="google-maps-container-inner">
      <div class="google-maps-container">
        <div class="google-map-overlay" onClick="style.pointerEvents='none'"></div>
        <div class="map" style="margin-right: auto; margin-left: auto; width:100%; height:400px;">
          <iframe width="100%" height="100%" src="{{ .Params.maps }}" frameborder="0">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</section>
{{end}}
<section id="main-content" class="panel {{ if isset .Params "main_content_strip_classes" }}{{ .Params.main_content_strip_classes }}{{end}}">
  <div class="container page-gutters">
    {{if .Title}}<h1 class="main-header">{{ .Title }}</h1>{{end}}
    <div class="body-text">
      <div class="main-block centred">
        {{ .Content }}
        <h2>Booking Enquiries</h2>
        {{ partial "booking-form.html"}}
      </div>
    </div>
  </div>
</section>
{{ end }}
