{{ define "main" }}
{{ if isset .Params "pano_page_banner" }}
  <section id="panorama">
    <picture>
      {{ partial "_shared/srcset-source.html" (dict "context" . "image_path" .Params.pano_page_banner "media" "(min-width: 600px)" "element" "source")}}
      {{ partial "_shared/srcset-source.html" (dict "context" . "image_path" .Params.standard_page_banner "media" "(max-width: 599px)" "element" "source")}}
      <img src="{{ .Params.pano_page_banner }}">
    </picture>
  </section>
{{end}}
<section id="main-content" class="panel {{ if isset .Params "main_content_strip_classes" }}{{ .Params.main_content_strip_classes }}{{end}}">
  <div class="container page-gutters d-flex direction-column align-center">
    {{if .Title}}<h1 class="main-header">{{ .Title }}</h1>{{end}}
    <div class="main-block body-text">
      {{ .Content }}
    </div>
  </div>
</section>
{{ if  .Params.gallery_path }}
  <section id="gallery" class="padding-bottom-xl">
    <div class="image-gallery" data-thumbnail-dimensions="4:3">
      {{ $full_path := printf "%s%s" "static" .Params.gallery_path }}
      {{ $.Scratch.Set "scratched_path" $full_path }}
      {{ $scratched_path := $.Scratch.Get "scratched_path"}}
      {{ $files := readDir $scratched_path }}
      <ul class="gallery-files" data-gallery-path="{{ .Params.gallery_path }}" style="display: none">
        {{ range $files}}
          <li>{{ .Name }}</li>
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
{{ end }}
