
  //https://davidwalsh.name/javascript-loader
  var load = (function() {
    // Function which returns a function: https://davidwalsh.name/javascript-functions
    function _load(tag) {
      return function(url) {
        // This promise will be used by Promise.all to determine success or failure
        return new Promise(function(resolve, reject) {
          var element = document.createElement(tag);
          var parent = 'body';
          var attr = 'src';

          // Important success and error for the promise
          element.onload = function() {
            resolve(url);
          };
          element.onerror = function() {
            reject(url);
          };

          // Need to set different attributes depending on tag type
          switch(tag) {
            case 'script':
              element.type = 'text/javascript';
              break;
            case 'link':
              element.type = 'text/css';
              element.rel = 'stylesheet';
              attr = 'href';
              parent = 'head';
          }

          // Inject into document to kick off loading
          element[attr] = url;
          document[parent].appendChild(element);
        });
      };
    }

    return {
      css: _load('link'),
      js: _load('script'),
      img: _load('img')
    };
  })();

  function replaceBase(link) {
    link = link.replace(document.location.origin, '');
    if (link.charAt(0) === '/') {
      return link.substring(1);
    }
    return link.replace(/\s\//g, ' ');
  }

  if (document.location.hostname.indexOf('github.io') > -1) {
    var repoName = document.location.pathname.split('/').filter(part => {
      return part.split('').length > 0;
    })[0];

    var siteBaseUri = `${document.location.origin}/${repoName}/`;
    var baseElement = document.createElement("base");
    baseElement.href  = siteBaseUri;
    document.head.appendChild(baseElement);
      
    var anchorTags = document.querySelectorAll('a');
    anchorTags.forEach(anchorTag => {
      anchorTag.href = replaceBase(anchorTag.href);
    });

    var images = document.querySelectorAll('img');
    console.log(images);
    images.forEach(image => {
      console.log(replaceBase(image.srcset));
      image.src = replaceBase(image.src);
      image.srcset = replaceBase(image.srcset); 
    });

    var sourceElements = document.querySelectorAll('source');
    sourceElements.forEach(sourceElement => {
      sourceElement.srcset = replaceBase(sourceElement.srcset);
    });

    var assets = {
      css: [],
      js: []
    };
    var cssLinks = document.querySelectorAll('link');
    var jsLinks = document.querySelectorAll('script');

    cssLinks.forEach(cssLink => {
      assets.css.push(replaceBase(cssLink.href));
    });

    jsLinks.forEach(jsLink => {
      assets.js.push(replaceBase(jsLink.src));
    });
    loadAssets(assets);
  }

  // Usage:  Load different file types with one callback
  function loadAssets(assets) {
    Promise.all([
      assets.css.map(path => {
        return load.css(path);
      })
    ]).then(function() {
      console.log('CSS loaded!');
      Promise.all([
        assets.js.map(path => {
          return load.js(path);
        }) 
      ]);
    }).then(function() {
      console.log('JS loaded!');
    }).catch(function() {
      console.log('Oh no, epic failure!');
    });
  }

