$primary: red !default;
$main-font-family:  "Lato", sans-serif !default;
$spacer-sm: 4px !default;
$spacer-md: 8px !default;
$spacer-lg: 16px !default;
$spacer-xl: 32px !default;

$main-header-color: #111 !default;
$main-header-font-size: 4em !default;
$main-header-text-align: center !default;
$main-header-text-transform: none !default;
$main-header-font-family: 'Merriweather', serif !default;
$main-header-font-weight: 400 !default;
$main-header-margin-bottom: $spacer-xl !default;
$main-header-margin-top: 0 !default;
$main-header-dark-bg-color: #fff;
$main-header-xl-font-size: 7em;

/*-------------------------------------------------------------------------
DEFAULT BODY CONTENT TEXT STYLES {CORRESPONDS TO "02-bits-and-pieces.less"}
-------------------------------------------------------------------------*/
$body-text-font-family: $main-font-family !default;
$body-text-font-size: 1.6em !default;
$body-text-line-height: 170% !default;
$body-text-color: #666 !default;
$body-text-font-weight: 400 !default;

$body-text-header-color: #666 !default;
$body-text-header-text-transform: none !default;
$body-text-header-font-family: $body-text-font-family !default;
$body-text-header-font-weight: 600 !default;

$body-text-header-margin-bottom: 0.5em !default;
$body-text-header-h2-font-size: 2.4em !default;
$body-text-header-h3-font-size: 2.2em !default;
$body-text-header-h4-font-size: 2em !default;

$body-text-paragraph-space-after: 1em !default;
$main-content-body-text-paragraph-text-align: justify !default;
$body-text-paragraph-line-height: 170% !default;

$body-text-link-color: $primary !default;
$body-text-link-text-decoration: underline !default;
$body-text-link-font-weight: $body-text-font-weight !default;

$body-text-link-hover-color: darken($primary, 20%) !default;
$body-text-link-hover-text-decoration: underline !default;
$body-text-link-visited-color: grey !default;
$body-text-link-visited-text-decoration: underline !default;

$hr-color: #ccc !default;
$hr-thickness: 2px !default;

$large-text-font-size: 2.5em;

/*------------------------------
DEFAULT INTERFACE ELEMENT STYLES
------------------------------*/

$label-font-size:  $body-text-font-size !default;
$label-color: $body-text-color !default;
$label-font-family: $main-font-family !default;
$label-font-weight: $body-text-font-weight !default;
$label-line-height: 120% !default;

$input-border-width: 2px !default;
$input-border-style: solid !default;
$input-height: 34px !default;
$input-font-size: $body-text-font-size !default;
$input-font-family: $main-font-family !default;
$input-side-padding: 0px !default;
$input-top-bottom-padding: 0px !default;
$input-border-radius: 5px !default;
$input-color: #333 !default;
$input-border-color: #c9c9c9 !default;
$input-background-color: #fff !default;
$input-hover-border-color: darken($input-border-color, 20%) !default;
$input-focus-border-color: darken($input-hover-border-color, 20%) !default;

$radio-button-checkbox-width-height: 24px !default;
$radio-checkbox-selected-background-color: #ccc !default;

$fieldset-border-width: 1px !default;
$fieldset-border-color: #ccc !default;
$fieldset-border-radius: 3px !default;
$fieldset-background-color: transparent !default;

$button-background-color: $primary !default;
$button-hover-background-color: $primary !default;
$button-border-color: $primary !default;
$button-hover-border-color: $button-hover-background-color !default;
$button-color: #fff !default;
$button-hover-color: #fff !default;

$button-border-width: 2px !default;
$button-border-style: solid !default;
$button-border-radius: 4px !default;
$button-padding: $spacer-lg $spacer-xl !default;

$button-font-family: 'Lato', sans-serif !default;
$button-font-size: 1.8em !default;
$button-font-weight: 700 !default;
$button-text-transform: none !default;
$button-margin: 5px !default;

/*----------------------------------------------------------------
FOOTER STRIP TEXT STYLES {CORRESPOND TO "02-bits-and-pieces.less"}
----------------------------------------------------------------*/

$footer-info-color: #777 !default;
$footer-info-font-style: normal !default;
$footer-info-font-size: 1.3em !default;
$footer-info-font-weight: 400 !default;
$footer-info-font-family: $main-font-family !default;
$footer-info-text-transform: none !default;
$footer-info-link-color: $footer-info-color !default;
$footer-info-link-text-decoration: none !default;
$footer-info-link-hover-color: #000 !default;
$footer-info-link-hover-text-decoration: none !default;
$footer-svg-fill: $footer-info-color !default;
$footer-svg-link-hover-fill: $footer-info-link-hover-color !default;

/*----------------------------------------------------------------
TABLE STYLES
----------------------------------------------------------------*/
$table-border-color: #888 !default;
$table-header-cell-color: #fff !default;
$table-header-cell-background-color: #bbb !default;
$table-header-cell-border-color: #666 !default;
$table-header-cell-text-transform: uppercase !default;
$table-header-cell-font-family: $main-font-family !default;
$table-header-cell-font-weight: 700 !default;
$table-header-cell-font-size: 1.4em !default;

$table-cell-padding-top: 5px !default;
$table-cell-padding-bottom: 5px !default;
$table-cell-padding-left-right: 8px !default;
$table-cell-text-line-height: 120% !default;
$table-cell-background-color: #fff !default;
$table-cell-color: $body-text-color !default;
$table-cell-font-family: $main-font-family !default;

$select-background-color: #F9F9F9 !default;
$select-border-color: #999 !default;
$select-border-radius: 3px !default;
$select-color: #555 !default;
$select-font-size: 12px !default;
$select-text-transform: none !default;
$select-font-family: Arial, Helvetica, sans-serif !default;

$option-background-color: #F9F9F9 !default;
$option-border-color: #EEEEEE !default;
$option-text-transform: none !default;
$option-color: #555555 !default;
$option-font-family: Arial, Helvetica, sans-serif !default;

$blockquote-background-color: #f8f8f8 !default;
$blockquote-font-style: italic !default;
$blockquote-font-family: $main-font-family !default;
$blockquote-font-weight: 600 !default;
$blockquote-color: inherit !default;

$blockquote-citation-color: #666 !default;

/*---Social media links---*/
$facebook-icon-fill: #999 !default;
$instagram-icon-fill: #999 !default;
$twitter-icon-fill: #999 !default;
$tripadvisor-icon-fill: #999 !default;

$facebook-icon-hover-fill: #000 !default;
$instagram-icon-hover-fill: #000 !default;
$twitter-icon-hover-fill: #000 !default;
$tripadvisor-icon-hover-fill: #000 !default;

$sm-links-background-color: transparent !default;
$sm-link-border-radius: 0px !default;
$sm-link-width: 20px !default;
$sm-link-height: 20px !default;

$twitter-link-background-color: $sm-links-background-color !default;
$twitter-link-hover-background-color: transparent !default;

$facebook-link-background-color: $sm-links-background-color !default;
$facebook-link-hover-background-color: #3B5998 !default;

$instagram-link-background-color: $sm-links-background-color !default;
$instagram-link-hover-background-color: #9A7658 !default;

$back-to-top-button-background-image: url("images/sprite.png") !default;
$back-to-top-button-background-size: 300px !default;
$back-to-top-button-background-color: #333 !default;
$back-to-top-button-height: 36px !default;
$back-to-top-button-width: 36px !default;
$back-to-top-button-padding: 3px !default;
$back-to-top-button-opacity: 0.5 !default;
$back-to-top-button-bottom-position: 20px !default;
$back-to-top-button-right-position: 20px !default;
$back-to-top-button-background-position: center bottom -5px !default;
$back-to-top-button-border-radius: 42px !default;
$back-to-top-button-border-width: 2px !default;
$back-to-top-button-border-style: solid !default;
$back-to-top-button-border-color: #fff !default;

$svg-data-uri-icon-tick: url('data:image/svg+xml !default;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"  class="single-colour tick"><path fill="%23fff" d="M13 28c-0.7 0-1.3-0.2-1.9-0.7l-10-8c-1.3-1-1.5-2.9-0.5-4.2 1-1.3 2.9-1.5 4.2-0.5l7.9 6.3L32.9 0.9c1.2-1.2 3.1-1.2 4.2 0 1.2 1.2 1.2 3.1 0 4.2l-22 22C14.5 27.7 13.8 28 13 28z"/></svg>') !default;

$svg-data-uri-arrow-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.9 36.8'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='0.5 0.5 18.4 18.4 0.5 36.3 '/%3E%3C/svg%3E") !default;

$svg-data-uri-arrow-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.9 36.8'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='18.4 0.5 0.5 18.4 18.4 36.3 '/%3E%3C/svg%3E") !default;

$svg-data-uri-arrow-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.8 18.9'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='36.3 18.4 18.4 0.5 0.5 18.4 '/%3E%3C/svg%3E") !default;

$svg-data-uri-arrow-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.8 18.9'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='36.3 0.5 18.4 18.4 0.5 0.5 '/%3E%3C/svg%3E") !default;