$pagination-align: left !default;
$pagination-ul-margin-top: 10px !default;
$pagination-ul-margin-bottom: 10px !default;
$pagination-ul-padding-top: 10px !default;
$pagination-ul-padding-bottom: 10px !default;
$pagination-font-size: 1.5em !default;
$pagination-text-align: center !default;
$pagination-text-color: #000 !default;
$pagination-text-font-style: normal !default;
$pagination-text-font-family: $body-content-header-font-family !default;
$pagination-text-text-transform: none !default;
$pagination-link-color: $body-content-link-color !default;
$pagination-link-hover-color: $body-content-link-hover-color !default;