$blog-item-border-bottom-width: 1px !default;
$blog-item-border-bottom-color: #ddd !default;
$blog-item-border-bottom-style: solid !default;
$blog-item-padding-top: 10px !default;
$blog-item-padding-bottom: 10px !default;


$blog-item-image-block-max-width: 175px !default;
$blog-item-image-margin-right: 0 !default;
$blog-item-image-margin-top: 5px !default;
$blog-item-image-margin-bottom: 7px !default;
$blog-item-image-block-border-color: #ddd !default;
$blog-item-image-block-border-width: 1px !default;

$blog-item-header-margin-top: 3px !default;
$blog-item-header-font-size: 2.6em !default;
$blog-item-header-font-family: $main-font-family !default;
$blog-item-header-font-weight: 600 !default;
$blog-item-header-text-transform: none !default;
$blog-item-header-color: #222 !default;
$blog-item-header-margin-bottom: 10px !default;

$blog-item-header-link-color: $blog-item-header-color !default;
$blog-item-header-link-text-decoration: none !default;
$blog-item-header-link-visited-color: #222 !default;
$blog-item-header-link-hover-color: $body-text-link-hover-color !default;
$blog-item-header-link-hover-text-decoration: none !default;

/*added*/

$item-date-created-font-size: 1.4em !default;
$item-date-created-color: #666 !default;
$item-date-created-margin-bottom: 1em !default;
$item-date-created-line-height: 150% !default;

$item-read-more-padding-top-bottom: 0px !default;
$item-read-more-padding-left-right: 0px !default;
$item-read-more-border-radius: 5px !default;
$item-read-more-font-weight: 600 !default;
$item-read-more-font-family: "Lato", sans-serif !default;
$item-read-more-font-size: 0.8em !default;
$item-read-more-text-transform: uppercase !default;
$item-read-more-link-text-decoration: none !default;
$item-read-more-link-hover-text-decoration: none !default;
$item-read-more-color: $body-text-link-color !default;
$item-read-more-background-color: transparent !default;
$item-read-more-hover-color: $body-text-link-hover-color !default;
$item-read-more-hover-background-color: transparent !default;
