<div class="content-list-item">

  <h2 class="item-title">
    {{ if .Params.link_to_single }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ else if isset .Params "link" }}
      <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
    {{ else }}
      {{ .Title }}
    {{ end }}
  </h2>
  {{ if isset .Params "cover_image"}}
    <a href="{{ .Permalink }}" class="thumbnail-link"><img class="item-thumbnail" src="{{ .Params.cover_image }}" /></a>
  {{ end }}
  {{ if isset .Params "article_date"}}
    <div class='item-date'>Article date - {{dateFormat "Monday, 2 January 2006" .Params.article_date }}</div>
  {{ end }}
  <div class="item-summary">
    {{ .Summary }}
  </div>
  {{ if isset .Params "link"}}<a class="btn" href="{{ .Params.link }}" target="_blank">View article</a>{{ end }}
  {{ if .Params.link_to_single }}<a class="btn read-more" href="{{ .Permalink }}">Read more</a>{{ end }}
</div>



