body {
	font-family: $main-font-family;
}

h1, h2, h3, h4, h5, h6, a h1, a h2, a h3, a h4, a h5, a h6 {
	color: $body-text-header-color;
	text-transform: $body-text-header-text-transform;
	font-family: $body-text-header-font-family;
	font-weight: $body-text-header-font-weight;
	margin-bottom: $body-text-header-margin-bottom;
	line-height: 150%;
	padding: 0;
	background-color: transparent;
	margin-top: 0;
}

h2 {
	font-size: $body-text-header-h2-font-size;
	.body-text & {
		font-size: #{$body-text-header-h2-font-size/$body-text-font-size}em;
	}
}

h3 {
	font-size: $body-text-header-h3-font-size;
	.body-text & {
		font-size: #{$body-text-header-h3-font-size/$body-text-font-size}em;
	}
}
h4 {
	font-size: $body-text-header-h4-font-size;
	.body-text & {
		font-size: #{$body-text-header-h4-font-size/$body-text-font-size}em;
	}
}


a {
	color: $body-text-link-color;
	text-decoration: $body-text-link-text-decoration;
	font-weight: $body-text-link-font-weight;
	.dark-bg & {
		color: #fff;
	}
}

a:hover {
	color: $body-text-link-hover-color;
	text-decoration: $body-text-link-hover-text-decoration;
	.dark-bg & {
		color: #bbb;
	}
}

a:active {
	color: $body-text-link-color;
	text-decoration: $body-text-link-text-decoration;
}

.main-header {
	color: $main-header-color;
	font-size: $main-header-font-size;
	text-transform: $main-header-text-transform;
	text-align: $main-header-text-align;
	font-family: $main-header-font-family;
	font-weight: $main-header-font-weight;
	margin-top: $main-header-margin-top;
	margin-bottom: $main-header-margin-bottom;
	.body-text & {
		font-size: #{$main-header-font-size/$body-text-font-size}em;
	}
	&.main-header-xl {
		font-size: $main-header-xl-font-size;
		.body-text & {
			font-size: #{$main-header-xl-font-size/$body-text-font-size}em;
		}
		@media (max-width: 479px) {
			font-size: 0.7*$main-header-xl-font-size;
			.body-text & {
				font-size: #{$main-header-xl-font-size/$body-text-font-size}em;
			}
		}
	}
}

.panel.dark-bg {
	.panel-header {
		color: $main-header-dark-bg-color;
	}
	.body-text, h1, h2, h3, h4 {
		color: #fff;
	}
}

figure {
  margin: 0;
  margin-bottom: $spacer-xl;
  img {
    margin: 0;
  }
}

figcaption {
  color: $figcaption-color;
  font-size: $figcaption-font-size;
  font-family: $figcaption-font-family;
  background: $figcaption-background;
  line-height: $figcaption-line-height;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: $spacer-lg;
}

ul, ol {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

/*------------------------BODY CONTENT PARAGRAPH------------------------*/

.body-text, a .body-text {
	line-height: $body-text-line-height;
	color: $body-text-color;
	font-family: $body-text-font-family;
	font-size: $body-text-font-size;
	font-weight: $body-text-font-weight;
	.body-text {
		font-size: 1em;
	}
}
.body-text p {
	line-height: $body-text-paragraph-line-height;
	margin-bottom: $body-text-paragraph-space-after;
	margin-top: 0;
}

.large-text {
	font-size: $large-text-font-size;
	line-height: 140%;
	.body-text & {
		font-size: #{$large-text-font-size/$body-text-font-size}em;
		
	}
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: $hr-thickness solid $hr-color;
	margin: 1em 0;
	padding: 0;
}

.text-align-left {
	text-align: center;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: center;
}

.text-align-left {
	text-align: center;
}

@media (min-width: 480px) {
	#main-content .body-text p {
		text-align: $main-content-body-text-paragraph-text-align;
	}
}

.body-text p:last-child {
	margin-bottom: 0;
}

.body-text ul,
.body-text ol {
	margin-bottom: $body-text-paragraph-space-after;
	padding: 0px;
}

.body-text ul li, .body-text ol li {
	margin-left: 1em;
	padding-left: 0.5em;
}

.show-below-979px {
	display: none;
}


div.back-to-top-button,
a.back-to-top-button  {
	opacity: 0;
	height: $back-to-top-button-height;
	width: $back-to-top-button-width;
	padding: $back-to-top-button-padding;
	background-color: $back-to-top-button-background-color;
	position: fixed;
	bottom: $back-to-top-button-bottom-position;
	right: $back-to-top-button-right-position;
	z-index: 9999999999;
	border: $back-to-top-button-border-width $back-to-top-button-border-style $back-to-top-button-border-color;
	border-radius: $back-to-top-button-border-radius;
	-webkit-border-radius: $back-to-top-button-border-radius;
	-moz-border-radius: $back-to-top-button-border-radius;
	overflow: hidden;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}


a.back-to-top-button.show  {
	opacity: $back-to-top-button-opacity;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

a.back-to-top-button span {
	background: $back-to-top-button-background-image no-repeat $back-to-top-button-background-position;
	background-size: $back-to-top-button-background-size;
	height: $back-to-top-button-height;
	width: $back-to-top-button-width;
	display: block;
}

a.back-to-top-button span:hover {
	cursor: pointer;
}

svg {
	width: auto;
	height: auto;
}

button {
  cursor: pointer;
}