// Full page of blog and blog list items on blog list page



.blog-layout img.item-thumbnail {
	width: 100%;
	max-width: $blog-item-image-block-max-width;
	margin: $blog-item-image-margin-top $blog-item-image-margin-right $blog-item-image-margin-bottom 0;
	float: left;
	display: block;
	border: $blog-item-image-block-border-width solid $blog-item-image-block-border-color;
}

.blog-layout div.item-date {
	font-size: $item-date-created-font-size/$body-text-font-size;
	color: $item-date-created-color;
	margin-bottom: $item-date-created-margin-bottom;
	line-height: $item-date-created-line-height;
	display: block;
	width: 100%;
}
// Blog list items on blog list page only

.blog-layout .content-list-item {
	// width: 100%;
	padding-top: $blog-item-padding-top;
	padding-bottom: $blog-item-padding-bottom;
}

.blog-layout .content-list-item h2.item-title {
	font-size: $blog-item-header-font-size/$body-text-font-size;
	font-family:$blog-item-header-font-family;
	font-weight: $blog-item-header-font-weight;
	text-transform: $blog-item-header-text-transform;
	color: $blog-item-header-color;
	margin-bottom: $blog-item-header-margin-bottom;
	margin-top: $blog-item-header-margin-top;
	line-height: 150%;
}

.blog-layout .content-list-item h2.item-title a:link {
	color: $blog-item-header-link-color;
	text-decoration: $blog-item-header-link-text-decoration;
	font-size: 1em;
}

.blog-layout .content-list-item h2.item-title a:visited {
	color: $blog-item-header-link-visited-color;
	text-decoration: $blog-item-header-link-text-decoration;
}

.blog-layout .content-list-item h2.item-title a:hover {
	color: $blog-item-header-link-hover-color;
	text-decoration: $blog-item-header-link-hover-text-decoration;
}

.blog-layout .content-list-item div.item-summary {
	text-align: justify;
	margin-bottom: 20px;
}

.blog-layout .content-list-item a.more-link {
	display: inline-block;
	padding: $item-read-more-padding-top-bottom $item-read-more-padding-left-right;
	background: $item-read-more-background-color;
	-webkit-border-radius: $item-read-more-border-radius;
	-moz-border-radius: $item-read-more-border-radius;
	border-radius: $item-read-more-border-radius;
	color: $item-read-more-color;
	font-weight: $item-read-more-font-weight;
	text-decoration: $item-read-more-link-text-decoration;
	font-family: $item-read-more-font-family;
	font-size: $item-read-more-font-size;
	text-transform: $item-read-more-text-transform;
}

.blog-layout .content-list-item a.more-link:hover {
	color: $item-read-more-hover-color;
	text-decoration: $item-read-more-link-hover-text-decoration;
}

.blog-layout .content-list-item {
	border-bottom: $blog-item-border-bottom-width $blog-item-border-bottom-style $blog-item-border-bottom-color;
}

.blog-layout .content-list-item a.post-thumbnail {
	display: block;
	float: left;
	max-width: $blog-item-image-block-max-width;
}

.sidebar .cat-post-widget {
	ul {
		list-style: none;
	}
}

.taxonomy-list {
  ul {
    display: flex;
    
    li {
      list-style: none;
      text-transform: capitalize;
      &.list-header {
        font-weight: 600;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}