<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{ partial "head-element-markup.html" . }}
    {{ partial "dynamic-css-js-files.html" (dict "context" . "type" "css" ) }}
  </head>
  <body class="{{ .Params.pageclass }} header-height-tall">
    <div id="wrapper">
      <div class='panels'>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
      </div>
        {{ partial "footer.html" . }}
    </div>
    {{ partial "dynamic-css-js-files.html" (dict "context" . "type" "js" ) }}
  </body>
</html>
