{{ define "main" }}
<section id="panorama">
  <a href='https://exatype.com' target='_blank'>
    <img src="{{ .Params.pageBanner }}" alt="PageBanner" />
  </a>
</section>
<section id="main-content" class="blog-layout">
  <div class="container page-gutters section-padding-top-bottom">
    <h1 class="main-header">{{ .Title }}</h1>
    <div class="body-text">
      <div class="list-page-intro">
        {{ .Content }}
      </div>
      <div class="main-block centred">
        {{ range (.Paginator 20).Pages }}
          {{ .Render "list_item" }}
        {{ end }}
        <div class="pagination-links">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
      <div class=" sidebar-outer hide-below-979px">
        <div class="sidebar">
          {{ range .Params.widgets }}
          {{ partial . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
