{{ $image_path := (.Get "image_path") }}
{{ $image_filename := (index (last 1 (split $image_path "/")) 0)}}
{{ $image_filename_parts := split $image_filename "-" }}
{{ $image_basename := delimit (first (sub (len $image_filename_parts) 1) $image_filename_parts) "-" }}
{{ $image_dir := path.Dir $image_path }}
{{ $image_extenstion := path.Ext $image_path }}
{{ $pano_sizes := ( slice "1600w" "1440w" "768w" ) }}
{{ $standard_sizes := ( slice "600w" "480w" ) }}
{{ $files := (readDir (print "static/" $image_dir) )}}
{{ $size_versions := slice}}
{{ range $files}}
	{{ $parts := ( split .Name "-" )}}
	{{ $generic_part := (delimit (first (sub (len ( split .Name "-" )) 1) ( split .Name "-" )) "-") }}
	{{ if (eq (string $generic_part) (string $image_basename) ) }}
		{{ $last_part := (index (last 1 $parts) 0)}}
		{{ $size_part := index ( split $last_part "." ) 0 }}
		{{ $size_versions = $size_versions | append $size_part }}
	{{ end }}
{{ end }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $sizes := .Get "sizes" }}
{{ if (eq (.Get "element") "source") }}
	<source media="{{ .media }}" 
		srcset="
			{{ range $size_versions }}
				{{ $size := . }}
				{{ print $image_dir "/" $image_basename "-" $size $image_extenstion " " $size ","}}
			{{ end }}"
			{{ if $sizes }}
				sizes="{{ $sizes }}"
			{{ end }}>
{{ else }}
  <img class="{{ .Get `class` }}"
  srcset="
	{{ range $size_versions }}
		{{ $size := . }}
		{{ print $image_dir "/" $image_basename "-" $size $image_extenstion " " $size ","}}
	{{ end }}"
	src="{{ $image_path }}"
	{{ if $sizes }}
		sizes="{{ $sizes }}"
	{{ end }}
	{{ if $alt }}
		alt="{{ $alt }}"
	{{ end }}
	{{ if $title }}
		title="{{ $title }}"
	{{ end }}
	/>
{{ end }}



