{{ $image_path := (.Get "image_path") }}
{{ $element := (.Get "element") }}
{{ $sizes := (.Get "sizes") }}
{{ $alt := (.Get "alt") }}
{{ $title := (.Get "title") }}
{{ $data_dimensions := (.Get "data_dimensions") }}
{{ $data_object_fit := (.Get "data_object_fit") }}
{{ $class := (.Get "class") }}
{{ $image_extenstion := path.Ext $image_path }}
{{ $image_path_no_ext := strings.TrimSuffix $image_extenstion $image_path }} 
{{ $image_dir := path.Dir $image_path }}
{{ $cloned_image_dir := replace $image_dir "images" "_image-clones" }}
{{ if fileExists (print "static/" $cloned_image_dir) }}
  {{ $files := (readDir (print "static/" $cloned_image_dir) )}}
  {{ $size_versions := slice}}
  {{ range $files}}
    {{ if in .Name ( path.Base $image_path_no_ext) }}
      {{ $size_versions = $size_versions | append (print $cloned_image_dir "/" .Name) }}
    {{ end }}
  {{ end }}
  {{ if (eq $element "source") }}
    <source media="{{ .media }}" 
      srcset="
        {{ range $size_versions }}
          {{ $this_image_extenstion := path.Ext . }}
          {{ $this_image_path_no_ext := strings.TrimSuffix $this_image_extenstion . }} 
          {{$size := (index  (last 1 (split $this_image_path_no_ext "-")) 0)}}
          {{ print . " " $size ","}}
        {{ end }}"
        {{ if .sizes }}
          sizes="{{ .sizes }}"
        {{ end }}>
  {{ else }}
    <img srcset="
    {{ range $size_versions }}
      {{ $this_image_extenstion := path.Ext . }}
      {{ $this_image_path_no_ext := strings.TrimSuffix $this_image_extenstion . }} 
      {{$size := (index  (last 1 (split $this_image_path_no_ext "-")) 0)}}
      {{ print . " " $size ","}}
    {{ end }}"
    src="{{ $image_path }}"
    {{ if $sizes }}
      sizes="{{ $sizes }}"
    {{ end }}
    {{ if $alt }}
      alt="{{ $alt }}"
    {{ end }}
    {{ if $title }}
      title="{{ $title }}"
    {{ end }}
    {{ if $title }}
      title="{{ $title }}"
    {{ end }}
    {{ if $data_dimensions }}
      data-dimensions="{{ $data_dimensions }}"
    {{ end }}
    {{ if $data_object_fit }}
      data-object-fit="{{ $data_object_fit }}"
    {{ end }}
    {{ if $class }}
      class="{{ $class }}"
    {{ end }}
    />
  {{ end }}
{{ end }}



