// @include box-shadow((leftInset, topInset, bottom));
@mixin box-shadow($shadowNames, $opacity: 0.16) {
  $map: (
    top: 0 -3px 6px rgba(0,0,0,$opacity),
    bottom: 0 3px 6px rgba(0,0,0,$opacity),
		left: -4px 0 6px 0 rgba(0,0,0,$opacity),
		right: 6px 0 4px 0 rgba(0,0,0,$opacity),
		topInset: inset 0px 3px 5px rgba(0,0,0,$opacity),
		leftInset: inset 10px 0px 6px -6px rgba(0,0,0,$opacity),
		rightInset: inset -10px 0px 6px -6px rgba(0,0,0,$opacity),
		bottomRight: 3px 3px 6px rgba(0,0,0,$opacity)
  );
  $shadowValues: ();
  @each $shadowName in $shadowNames {
    $shadowValue: map-get($map, $shadowName);
    @if $shadowValue { 
      $shadowValues: append($shadowValues, $shadowValue, comma);
    };
  }
  box-shadow: $shadowValues;
}
@mixin linear-gradient($angle: 0deg, $list: ($primary,$secondary)) {
  background: first($list);
  background-image: linear-gradient($angle, $list);
}
